%h2 REQUEST A QUOTE
%h6 Shipping is free!
%br/
= form_for @message do |f|
  = render 'shared/error_messages'
  .requestquote
    .requestquote1
      = f.label "Name*"
      = f.text_field :name, :autofocus => true
      %br/
      = f.label "Email*"
      = f.text_field :email
      %br/
      = f.label "Phone*"
      = f.text_field :phone
      %br/
      = f.label "Attached Image*"
      = f.file_field :picture, multiple: true, accept: "image/jpeg, image/jpg, image/gif, image/png"
      %br/
    .requestquote2
      = f.label "Company*"
      = f.text_field :company
      %br/
      = f.label "Request Type*"
      = f.select :category, [['Selling Equipment','Selling Equipment'], ['Purchasing Equipment','Purchasing Equipment']]
      %br/
      = f.label "Item Type*"
      = f.select :itemtype, [['',''],['Radiographic Room','Radiographic Room'],['C-Arm','C-Arm'],['Ultrasound','Ultrasound'],['DR Detector','DR Detector'],['Digital Portable'],['CR Reader','CR Reader'],['CR Cassettes','CR Cassettes'],['R/F Room','R/F Room'],['U-Arm','U-Arm'],['Straight Arm','Straight Arm'],['MRI','MRI'],['CT Scanners','CT Scanners'],['Diagnostic Display Monitor','Diagnostic Display Monitor'],['Oncology-specific CR Reader','Oncology-specific CR Reader'],['PACS System','PACS System'],['Printer','Printer'],['Supplies','Supplies'],['Accessories','Accessories']]
    = f.submit "Submit Request", class: "submitmessagebutton"
= debug(params) if Rails.env.development?
